.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
  }  
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  
  .imageGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
  
    img {
      width: 100%;
      border-radius: 8px;
      transition: transform 0.3s ease;
    }
  
    img:hover {
      transform: scale(1.05);
    }
  }
  